<div class="sidebar" [ngClass]="menuState?'open':'closed'">
  <nav class="sidebar-nav" [ngClass]="menuState?'open':'closed'">
    <ul class="nav">
      <li class="nav-item" [routerLink]="['/dashboard']"  routerLinkActive="selected">
        <a class="nav-link" id="home">Home</a>
      </li>
      <li class="nav-item" [routerLink]="['/exam']"  routerLinkActive="selected">
        <a class="nav-link"   id="about">Reports</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#" id="contact">Contact</a>
      </li> -->
    </ul>
  </nav>
</div>
<div class="demo_sidebar" [ngClass]="menuState?'open':'closed'"></div>
