.sidebar {
  height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    background: linear-gradient(rgb(8 85 140), rgb(23 188 235 / 95%), rgb(64 186 130 / 89%)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Pushkin_population_history.svg/1198px-Pushkin_population_history.svg.png);
    border-radius: 3px;
    box-shadow: -4px -3px 15px 2px rgb(214 173 168);
    /* backdrop-filter: blur(7.7px); */
    -webkit-backdrop-filter: blur(7.7px);
    background-position: revert;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-logo{
  background: linear-gradient(118deg, rgb(255 255 255), #ffffff7d);
  height: 55px;
  align-items: center;
  display: grid;
  padding: 0px 15px;
  img{
    width: 95px;
  }
}

.sidebar-nav {
  //height: calc(100% - 50px);
  height: 100%;
  width: 100%;
 // transition: all 0.3s ease-in-out

}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-item {
  display: block;
  position: relative;
  padding: 10px 0px;
  padding-left: 5px;
  border-bottom: 1px solid #b7b7b74a;
  overflow: hidden;
  cursor: pointer;
//  transition: 0.2s ease-in-out;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

.nav-item.selected{
  background-color: rgb(213 213 213 / 23%);
  border-left: 10px solid #9eb6cb;
  margin-left: 0;
  //text-shadow: 0px 0px 4px #fffffff0;
}

// .nav-item.selected::after{
//   content: "";
//     position: absolute;
//     background: rgb(10, 216, 21);
//     width: 15px;
//     height: 40px;
//     top: 0px;
//     right: 0;
// }

.nav-item:hover {
  background-color: rgb(213 213 213 / 23%);
  border-left: 10px solid #d5d5d53b;
  margin-left: 0;
  //text-shadow: 0px 0px 4px #fffffff0;
  transition: 0.2s ease-in-out;
}
.sidebar.open {
  left: 0;
}

.sidebar.closed {
  left: -200px;
  width: 0px;

}
.demo_sidebar.open {
  left: 0;
}

.demo_sidebar.closed {
  left: -200px;
  width: 0px;

}

.sidebar-nav.open {
  opacity: 1;
  visibility: visible;
}

.sidebar-nav.closed {
  opacity: 0;
  visibility: hidden;
}

.demo_sidebar{
  transition: width .3s;
  position: relative;
  width: 200px;
}
