<div class="main">
  <mat-card class="card">
   <div class="main1">
    <div>
      <span class="a"> Sales </span>
    </div>
    <div>
      <span class="a"> Monthly Goals<br> ^175.5% </span>
    </div>
   </div>
   <div class="main2">
    <div>
      <span class="b"> $ 1229</span>
    </div>
    <!-- <div class="bar">
      <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
    </div> -->
   </div>
  </mat-card>
</div>

<div class="main">
  <mat-card class="card">
   <div class="main1">
    <div>
      <span class="a"> Sales </span>
    </div>
    <div>
      <span class="a"> Monthly Goals<br> ^175.5% </span>
    </div>
   </div>
   <div class="main2">
    <div>
      <span class="b"> $ 1229</span>
    </div>
    <div class="bar">
    </div>
   </div>
  </mat-card>
</div>


<div>
  <mat-card class="minicard3">
    <div class="left">
    <div> 
      <span  class="x"> Total Orders </span>
    </div>  
  <div>
    <span class="y"> $ 1229 </span>
  </div>    
    </div>
    <div class="right">
      <div>
        <span class="z"> Last year Expenses</span>
      </div>
    </div>
  </mat-card>
</div>


<!-- <div class="wrapper">
  <mat-card>
    <div >
      <div>1</div>
      <div>2</div>
    </div>
    <div>
      <span>987239732</span>
    </div>
  </mat-card>
</div> -->


<!-- <div class="main3">
  <mat-card class="card3">
   <div class="main4">
    <div>
      <span class="top"> Total Orders </span>
    </div>
    <div>
      <span class="num2"> 1229 </span>
    </div>
   </div>
   <div class="main4">
    <div>
      <span class="bot"> Last Year Expenses </span>
    </div>
   </div>
  </mat-card>
</div> -->

