<div class="main">
  <mat-card class="card">
   <div class="main1">
    <div>
      <span class="a"> {{minidetailscardLable}} </span>
    </div>
    <div>
      <span class="a"> {{ minidetailscardLable2}} <br> {{ minidetailscardLable3}}</span>
    </div>
   </div>
   <div class="main2">
    <div>
      <span class="b"> {{ minidetailscardnum }}</span>
    </div>
   </div>
  </mat-card>
</div>


<div>
  <mat-card class="main-wrap">
    <div class="left">
      <div class="heading"> Total Orders</div>
      <div class="subheading"> Last Year Expenses </div>
    </div>
    <div class="right">
      <div class="num"><span> $ 1229 </span> </div>
    </div>
  </mat-card>
</div>


