.proctor-Wrapper {
    padding: 15px;
}
.filter{
    display: flex;
    justify-content:flex-end;
}

.stats-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 1em;
}
