<div class="warpper">
  <input  *ngIf="isSuperAdmin||isAdmin||isCC||isOPS||isCBT||isAdmincc" class="radio" id="one" name="group" type="radio" [checked]="selectedTabId === 'dashboard'"
  (change)="onTabChange('dashboard')">
  <input  *ngIf="isSuperAdmin||isAdmin||isCC||isOPS||isCBT||isAdmincc" class="radio" id="two" name="group" type="radio" [checked]="selectedTabId === 'userdashboard'"
  (change)="onTabChange('userdashboard')">
  <input  *ngIf="isSuperAdmin||isAdmin||isCC||isOPS||isCBT||isAdmincc" class="radio" id="three" name="group" type="radio" [checked]="selectedTabId === 'exam'"
  (change)="onTabChange('exam')">
  <input  *ngIf="isSuperAdmin||isAdmincc" class="radio" id="four" name="group" type="radio" [checked]="selectedTabId === 'actioncenter'"
  (change)="onTabChange('actioncenter')">
  <input  *ngIf="isSuperAdmin||isOPS" class="radio" id="five" name="group" type="radio" [checked]="selectedTabId === 'proctor'"
  (change)="onTabChange('proctor')">
  <input  *ngIf="isSuperAdmin||isOPS||isCC" class="radio" id="six" name="group" type="radio" [checked]="selectedTabId === 'analysis'"
  (change)="onTabChange('analysis')">
  <input  *ngIf="isSuperAdmin" class="radio" id="seven" name="group" type="radio" [checked]="selectedTabId === 'registration'"
  (change)="onTabChange('registration')">
  <input  *ngIf="isSuperAdmin" class="radio" id="eight" name="group" type="radio" [checked]="selectedTabId === 'apilogs'"
  (change)="onTabChange('apilogs')">
  <div class="tabs">
    <label *ngIf="isSuperAdmin||isAdmin||isCC||isOPS||isCBT||isAdmincc" class="tab" id="one-tab" for="one" [routerLink]="[app_const.ENDPOINTS.DASHBOARD]" >Dashboard</label>
    <label  *ngIf="isSuperAdmin||isAdmin||isCC||isOPS||isCBT||isAdmincc" class="tab" id="two-tab" for="two" [routerLink]="[app_const.ENDPOINTS.USERDASHBOARD]">User Dashboard</label>
    <label  *ngIf="isSuperAdmin||isAdmin||isCC||isOPS||isCBT||isAdmincc" class="tab" id="three-tab" for="three" [routerLink]="[app_const.ENDPOINTS.EXAM]">Reports</label>
    <label  *ngIf="isSuperAdmin||isAdmincc" class="tab" id="four-tab" for="four" [routerLink]="[app_const.ENDPOINTS.ACTIONCENTER]">Action Center</label>
    <label  *ngIf="isSuperAdmin||isOPS" class="tab" id="five-tab" for="five" [routerLink]="[app_const.ENDPOINTS.PROCTOR]">Proctors</label>
    <label  *ngIf="isSuperAdmin||isOPS||isCC" class="tab" id="six-tab" for="six" [routerLink]="[app_const.ENDPOINTS.ANALYSIS]">Assessment Analysis</label>
    <label  *ngIf="isSuperAdmin" class="tab" id="seven-tab" for="seven" [routerLink]="[app_const.ENDPOINTS.REGISTRATION]">Registration</label>
    <label  *ngIf="isSuperAdmin" class="tab" id="eight-tab" for="eight" [routerLink]="[app_const.ENDPOINTS.APILOGS]">Api Logs</label>
  </div>

</div>
