
.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
border-radius: 3px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.84);
  z-index: 9999;
}


// .loader {
//   width: 48px;
//   height: 48px;
//   position: relative;
//   left:50%;
//   top:50%;
// }
// .loader::before , .loader::after{
//   content: '';
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50% , -50%);
//   width: 48em;
//   height: 48em;
//   background-image:
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0),
//     radial-gradient(circle 10px, #89bd42 100%, transparent 0);
//   background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
//                        13em -13em, -13em -13em, 13em 13em, -13em 13em;
//     background-repeat: no-repeat;
//   font-size: 0.5px;
//   border-radius: 50%;
//   animation: blast 1s ease-in infinite;
// }
// .loader::after {
//   font-size: 1px;
//   background: #30bcdb;
//   animation: bounce 1s ease-in infinite;
// }

// @keyframes bounce {
//   0% , 100%{ font-size: 0.75px }
//   50% { font-size: 1.5px }
// }
// @keyframes blast {
//   0% , 40% {
//     font-size: 0.5px;
//   }
//   70% {
//     opacity: 1;
//     font-size: 4px;
//   }
//    100% {
//      font-size: 6px;
//     opacity: 0;
//   }
// }


//===============================


.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0089ff;
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #89bd42;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loader:after {
  animation-delay: 0.5s
}
@keyframes rotate {
  100% {transform: rotate(360deg) translate(30px)
}
}