@import '../../themes/theme.scss';

.main-wrapper-login {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  background-image: url(../../../assets/images/webback.jpg);
  background-repeat: repeat;

  .left {
    background-color: #ffffffe3;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .login-head {
      color: #08558c;
      font-size: 22px;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
    .main-logo{
      // background: rgba(255, 255, 255, 0.24);
      // border-radius: 5px;
      // box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
      // backdrop-filter: blur(5px);
      // -webkit-backdrop-filter: blur(5px);
      // border: 2px solid rgb(255 255 255 / 63%);
      // padding: 10px 30px
    }
  }

  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #ffffffe3, #fffefead);
  

    .formWrapper {
      text-align: center;
      display: flex;
      justify-content: center;

      .form-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 25px 10px 25px 10px;
        // ==
        background: rgb(255 255 255 / 12%);
        border-radius: 5px;
        box-shadow: 3px 3px 30px 4px #0000002e;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgb(255 255 255 / 63%);
        // ==
        mat-form-field{
          padding:5px 0px;
        }
        .error,
          .mat-form-field.mat-form-field-invalid .mat-form-field-label,
          .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
            color: red;
            font-size: 12px;
          }
        .sign-head h1{
          font-weight: 500;
          font-size: 24px;
        }
        .login-email-icon em {
          font-size: 13px;
          position: relative;
          bottom: 6px;
          left: 1px;
        }
        .login-pass-icon em {
          font-size: 18px;
          left: 1px;
          position: relative;
          bottom: 5px;
      }
      .login-icon-color {
      font-size: 21px;
      cursor: pointer;
      margin-right: 4px;
      }
      }
    }

    .footer-logo{
      font-size: 14px;
      color: #000;
      text-align: right;
    margin-right: 5px;
    }

  }
}

.btn{
  font-size: 16px;
    border: none;
    width: 186px;
    height: 47px;
    padding: 12px 10px;
    margin-top: 20px;
    background: #00b0ed;
    background: transparent linear-gradient(90deg,#27bbee 0%,#40bbbd 48%,#88ba2f 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    cursor: pointer;
    border-radius: 50px!important;
}
