<div class="main-wrapper-login">

  <div class="left">
    <div></div>
      <div class="login-head-Welcome">Welcome to 
      </div>
      <div class="login-head-Analytics">
       L&T EduTech Analytics!
      </div>
    
    <div class="main-display-image">
      <img alt="main-display-logo" class="beforeloginimg" src="assets/images/bg1.svg">
    </div>
    <div class="footer_wrapper">
      <div class="footer_wrapper_left">
        <img alt="main-display-logo" class="left_img" src="assets/images/bg2.svg">
      </div>
      <div class="footer_wrapper_right">
        <span> © {{currentYear}} L&T EduTech. All Rights Reserved.</span>
        <span> | </span>
        <span> Privacy Policy </span>
      </div>
    </div>
  </div>

  <div class="right">
 <div class="intedutech_wrapper">
    <div class="formWrapper">
     
      <form [formGroup]="loginForm" class="form-wrapper" (ngSubmit)="onSubmit()">
        <div class="sign-head">
          <div class="sign-head-hello">Hello</div>
          <div class="sign-head-Welcome">Welcome!</div>
        </div>
        <mat-form-field class="mat-form-spacing" appearance="outline">
          <mat-label class="label-color">Email Address</mat-label>
          <input matInput id="username" [email]="true" type="email" [placeholder]="'Enter the email'" formControlName="email" maxlength="90"
            required>
          <mat-icon matPrefix>
            <span class="login-email-icon">
              <em class="icon-login-email"></em>
            </span>
          </mat-icon>
          <mat-error class="error" *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('maxlength')">{{'100 Characters only allowed'}}</mat-error>
          <mat-error class="error" *ngIf="loginForm.get('email').hasError('required')">
            {{'Email is Required'}}</mat-error>
          <mat-error class="error" *ngIf="loginForm.get('email').hasError('pattern')">
            {{'Please enter a valid email address'}}</mat-error>
        </mat-form-field>
       

        <mat-form-field class="mat-form-spacing" appearance="outline">
          <mat-label class="label-color">{{'Password' }}</mat-label>
          <input matInput class="mat-input" [placeholder]="'Enter password'"
            [type]="toggleVisibility ? 'text' : 'password'" formControlName="password"
            [ngClass]="{ 'is-invalid': password.touched && password.errors }" required>

          <mat-icon matPrefix>
            <span class="login-pass-icon">
              <em class="icon-login-lock"></em>
            </span>
          </mat-icon>

          <div class="login-icon-wrapper" mat-icon-button matSuffix>
            <i class="material-icons login-icon-color "
              (click)="toggleVisibility = !toggleVisibility">{{toggleVisibility ? 'visibility':'visibility_off'}}</i>
          </div>
          <mat-error class="error" *ngIf="password.touched && password.errors?.required">
            {{'Password is Required' }}
          </mat-error>
          <mat-error class="error" *ngIf="password.touched && password.errors?.maxlength">{{'30 Characters only allowed'}}</mat-error>
        </mat-form-field>
        
        <div class="center">
          
            <button class="btn"  id="login" mat-raised-button
             type="submit">
            {{'SIGN IN'}}</button>
        </div>
      </form>
    </div>
  </div>
    
  </div>

</div>
