<div class="main-wrapper-header">

  <!-- <div class="left">
    <div id="nav-icon1" (click)="menuToggle()" [ngClass]="isOpenMenu?'open':''" >
      <span></span>
      <span></span>
      <span></span>
    </div>

<mat-menu #menus="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
    <div class="main-logo">
      <img alt="main-login-logo" class="beforeloginimgLT" src="assets/images/L&T_logo.svg">
    </div>
  </div> -->


  <div class="left">
    <div class="main-logo">
      <img alt="main-login-logo" class="beforeloginimgLT" src="assets/images/logoimage.svg">
    </div>

    <div id="nav-icon1" (click)="menuToggle()" [ngClass]="isOpenMenu?'open':''" >
      <span></span>
      <span></span>
      <span></span>
    </div>
<mat-menu #menus="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
    
  </div>

  <div class="right" >
    <div class="firstname">
    Welcome
    <div class="admin">
      {{' '+username}} 
    </div>
    </div>
  <div class="logout">
    <ngx-avatars
     [name]="username"  src="assets/avatar.jpg" bgColor="#fff" fgColor="#004684"
     [textSizeRatio]="2" gravatarId="" size="40" (click)="logout()">
</ngx-avatars>
    <!-- <mat-icon (click)="logout()">exit_to_app</mat-icon> -->
  </div>
  </div>

</div>

<ng-template #matDialog>
  <div class="logout-wrapper">
  <span class="popup-image">
      <em class="icon-popup-warning-ylw"></em>
  </span>
  <p class="sure-message">Are you Sure?</p>
  <p class="popupHead">You want to logout from the application</p>
  <div class="action" mat-dialog-actions>
      <button class="con-btn" mat-button [mat-dialog-close]="true">CANCEL</button>
      <button class="confirm" mat-button (click)="closeDialog($event)">LOGOUT </button>
  </div>
</div>
</ng-template>
<!--<app-footer></app-footer> -->


