.tiny_card {
    width: 300px;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 3px 11px -2px #b7b7b7;
    align-items: center;
    cursor: text;
    border-radius: 4px;
    margin: 10px;

    .flx_div {
        display: flex;
        padding: 30px 20px 20px 20px;
        align-items: center;
        justify-content: space-between;
    }

    // div {
    //     padding: 10px;
    // }

    p:first-child {
        font-size: 29px !important;
        font-weight: 500 !important;
        padding-bottom: 6px;
    }

    p {
        font-size: 20px;
        font-weight: 100;
    }

    span {
      padding-left: 10px;
        font-size: 39px;
        color: #ffa500;
    }
}

.drawerSpace{
  display: none;
}

.tiny_card:hover {
  transform: scale(1.05);
  //box-shadow: 0 0.46875rem 4.1875rem rgb(4 9 20 / 5%), 0 0.9375rem 2.40625rem rgb(4 9 20 / 5%), 0 0.25rem 1.3125rem rgb(4 9 20 / 6%), 0 0.125rem 1.1875rem rgb(4 9 20 / 6%);
  cursor: pointer;
  transition: all .2s;
  background: #fff;

  .bg_bottom_expand {
    // transform: scale(1.0);
    color:#fff;
    transition: all .2s;
    cursor: pointer;
    height: 50px;
    width: 100%;
    position: absolute;
    padding: 5px !important;
    box-shadow: inset 0px 6px 6px -2px #00000063;
    border-radius: 0px 0px 4px 4px;
    .drawerSpace{
      display: flex;
      justify-content: space-around;
    }
  }

}
.bg_bottom {
    padding: 5px !important;
    // box-shadow: inset 0px 6px 6px -2px #00000063;
    border-radius: 0px 0px 4px 4px;
}
.bg_bottom_expand {
  color: red;
    padding: 5px !important;
    // box-shadow: inset 0px 6px 6px -2px #00000063;
    border-radius: 0px 0px 4px 4px;
}
