
.ml-10{
  margin-left: 10px !important;
}
.mr-10{
  margin-right: 10px !important;
}
.vmssDashWrapper{
  margin:15px;
  .card-Section{
    display: flex;
    justify-content: space-around;
    width: 100%;

  }
  mat-card{
    margin-top: 10px;
  }
  .topToolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 10px;
    width: 100%;
    align-items: center;
  }
  .card_topic{
   h3{margin:0px !important}
  }
}
