
.ml-10{
  margin-left: 10px !important;
}
.mr-10{
  margin-right: 10px !important;
}
.vmssDashWrapper{
  margin:15px;
  .pageFilterBar{
    display: flex;
    justify-content: flex-end;    
    padding: 0 0 10px 0;
  }
  .card-Section{
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  mat-card{
    margin-top: 10px;
  }
  .topToolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    width: 100%;
    align-items: center;
     h3{margin:0px !important}
  }
 
}
