<div class="vmssDashWrapper">
  <div class="card-Section">
    <app-detailscard [iconClass]="'icon-monitoring'" [cardLabel]="'Total'" [cardValue]="vmssData.total_count"
      [wgColor]="'green'"></app-detailscard>
    <app-detailscard [iconClass]="'icon-monitoring'" [cardLabel]="'Started'" [cardValue]="vmssData.total_start"
      [wgColor]="'blue'"></app-detailscard>
    <app-detailscard [iconClass]="'icon-monitoring'" [cardLabel]="'In progress'" [cardValue]="vmssData.total_inprogress"
      [wgColor]="'pink'"></app-detailscard>
    <app-detailscard [iconClass]="'icon-monitoring'" [cardLabel]="'Completed'" [cardValue]="vmssData.total_completed"
      [wgColor]="'brown'"></app-detailscard>
  </div>
<div class="graphWrapper">
  <mat-card class="card">
  <mat-card-header><h3>Overall Status</h3></mat-card-header>
  <mat-card-content>
    <apx-chart
    #ovrAllChrt
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [colors]="chartOptions.colors"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
  </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header><h3>Exam Timelines</h3></mat-card-header>
    <mat-card-content>
      <apx-chart
      #timelineChrt
    [series]="chrtTimeline.series"
    [chart]="chrtTimeline.chart"
    [fill]="chrtTimeline.fill"
    [legend]="chrtTimeline.legend"
    [plotOptions]="chrtTimeline.plotOptions"
    [xaxis]="chrtTimeline.xaxis"
    ></apx-chart>
    </mat-card-content>
  </mat-card>
</div>
<div class="tableWrapper">
  <div class="card_topic ml-10">
    <h1>Overall Dashboard Table Representation</h1>
  </div>
  <div class="topToolbar">
    <button mat-stroked-button color="basic" (click)="excelexport(rowData)" ><mat-icon class="download-icon">download</mat-icon><span>Download Report</span> </button>
  </div>
  <ag-grid-angular
    style="
      width: 100%;
      height: 500px;
      margin-bottom: 50px;
      margin-left: 10px;
      margin-right: 10px;
    "
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [paginationPageSize]="20"
    [pagination]="true"
  >
  </ag-grid-angular>
</div>
</div>
