
html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  
  .heading{
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}
.excel{
    border: 0px;
    display: flex;
    justify-content: flex-end;
}

}

button{
    color: #004684 !important;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    margin: 5px;
    display: flex;
    border: 1px solid #004684;
    justify-content: flex-end;
    box-shadow: 0 2px 4px -1px #0003!important;

}

.p-calendar-container label{
  margin-right: 10px;
}
.p-calendar-container{
  position: relative;
  margin-right: 15px;
  margin-top: 10px;
  i{
    position: absolute;
    right: 3px;
    top: 5px;
  }
}
::ng-deep.p-calendar-container .p-inputtext {

  height: 25px !important; /* set the height of the input field */
  font-size: 14px !important; /* set the font size of the input field */
  padding-right: 20px;
}

::ng-deep.p-calendar-container .p-datepicker {
  // width: 200px !important;
  // height: 250px !important; /* set the width of the calendar popup */
}

::ng-deep.p-calendar-container .p-datepicker td {
  padding:0px; /* set the height of each day cell */
  font-size: 14px !important; /* set the font size of the day cell text */
}

