
html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}
.heading{
    margin: 5px;
}
.excel{
    border: 0px;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}
button{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.p-calendar-container label{
  margin-right: 10px;
}
.p-calendar-container{
  position: relative;
  margin-right: 15px;
  i{
    position: absolute;
    right: 3px;
    top: 5px;
    cursor: pointer;
  }
}
::ng-deep.p-calendar-container .p-inputtext {

  height: 25px !important; /* set the height of the input field */
  font-size: 14px !important; /* set the font size of the input field */
  padding-right: 20px;
}

::ng-deep.p-calendar-container .p-datepicker {
  // width: 200px !important;
  // height: 250px !important; /* set the width of the calendar popup */
}

::ng-deep.p-calendar-container .p-datepicker td {
  padding:0px; /* set the height of each day cell */
  font-size: 14px !important; /* set the font size of the day cell text */
}

