
@import "/src/app/themes/gen_Theme.scss";

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../src/assets/fonts/font.scss";
@import "../node_modules/ag-grid-enterprise/styles/ag-grid.css";
@import "../node_modules/ag-grid-enterprise/styles/ag-theme-alpine.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


