<div class="excel">
  <div class="p-field p-calendar-container">
    <label for="range">Delivery date range:</label>

    <nz-range-picker   [nzShowTime]="{ nzFormat: 'HH:mm' }"
    nzFormat="dd-MM-yyyy HH:mm" [(ngModel)]="dtRange" (ngModelChange)="daterrange($event)"></nz-range-picker>

  </div>
</div>
<div style="display: flex; justify-content: space-evenly; padding: 3% 2%">
  <app-tinycard
    [wgColor]="'#00578c'"
    [iconClass]="'icon-schedule'"
    [tinycardLabel]="'Scheduled'"
    [tinycardCount]="total?.Total_Count"
  ></app-tinycard>
  <app-tinycard
    [wgColor]="'#00bddc'"
    [iconClass]="'icon-groups'"
    [tinycardLabel]="'Batches'"
    [tinycardCount]="batchCount"
  ></app-tinycard>
  <app-tinycard
    [wgColor]="'#00bda1'"
    [iconClass]="'icon-domain'"
    [tinycardLabel]="'Domains'"
    [tinycardCount]="domainCount"
  ></app-tinycard>
  <app-tinycard
  [wgColor]="'#70bc40'"
  [iconClass]="'icon-login-lock'"
  [tinycardLabel]="'Logged In'"
  [tinycardCount]="total?.Started"
></app-tinycard>
</div>
<div style="display: flex; justify-content: space-evenly">
  <app-tinycard
  [wgColor]="'#65ba40'"
  [iconClass]="'icon-logged_in'"
  [tinycardLabel]="'Yet To Start'"
  [tinycardCount]="total?.Yet_To_Start
  "
></app-tinycard>
  <app-tinycard
  [wgColor]="'#bc823b'"
  [iconClass]="'icon-assignment'"
  [tinycardLabel]="'Test Started'"
  [tinycardCount]="total?.Started"
></app-tinycard>
  <app-tinycard
    [wgColor]="'red'"
    [iconClass]="'icon-edit_note'"
    [tinycardLabel]="'InProgress'"
    [isDrawer]="true"
    [tinycardCount]="total?.Inprogress"
    [tinyCountDetails]="CountDetails"
  ></app-tinycard>
  <app-tinycard
    [wgColor]="'#00bd8e'"
    [iconClass]="'icon-test-completed'"
    [tinycardLabel]="'Completed'"
    [tinycardCount]="total?.Completed"
  ></app-tinycard>
</div>

<div>
  <h2 class="head">Graphical Representation</h2>
</div>
<div
  style="
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 4% 0%;
  "
>
  <div class="chart_card">
    <div class="card_topic">
      <h1>Overall Test Status</h1>
    </div>
    <apx-chart
      #ovrAllChrt
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [colors]="chartOptions.colors"
      [plotOptions]="chartOptions.plotOptions"
      [legend]="chartOptions.legend"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  
  </div>
  <div class="chart_card">
    <div class="card_topic">
      <h1>Clients</h1>
    </div>
   
    <apx-chart
      #clientwise
      [dataLabels]="chartOptions2.dataLabels"
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [labels]="chartOptions2.labels"
      [responsive]="chartOptions2.responsive"
      [legend]="chartOptions2.legend"
      [colors]="chartOptions2.colors"
    ></apx-chart>
  </div>
</div>

<div
  style="
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 8% 0%;
  "
>
  <div class="chart_card">
    <div class="card_topic">
      <h1>Domain Wise</h1>
    </div>
    <apx-chart
      #chart3
      [series]="chartOptions3.series"
      [chart]="chartOptions3.chart"
      [labels]="chartOptions3.labels"
      [legend]="chartOptions2.legend"
      [theme]="chartOptions3.theme"
      [colors]="chartOptions3.colors"
      [responsive]="chartOptions2.responsive"
    ></apx-chart>
  </div>
  <div class="chart_card">
    <div class="card_topic"><h1>Client Wise Drive Wise</h1></div>
    <apx-chart
      #chart5
      [series]="chartOptions5.series"
      [chart]="chartOptions5.chart"
      [labels]="chartOptions5.labels"
      [colors]="chartOptions5.colors"
      [legend]="chartOptions2.legend"
      [responsive]="chartOptions5.responsive"
    ></apx-chart>
  </div>
</div>

<div class="card_topic ml-10">
  <h1>Overall Dashboard Table Representation</h1>
</div>
<div class="topToolbar">
  <button mat-stroked-button color="basic" (click)="excelexport(rowData)" ><mat-icon class="download-icon">download</mat-icon><span>Download Report</span> </button>
</div>
<ag-grid-angular
  style="
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
  "
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [paginationPageSize]="20"
  [pagination]="true"
>
</ag-grid-angular>
