<div>
  <div class="matcard-flex">
    <div class="card-flex">
      <mat-card class="mat-card">
        <mat-card-content>
          <div class="total-content">
            <div>Total Candidates</div>
            <div class="total-flex">
              <div class="num-left">
                <div class="mat-number">7500</div>
              </div>
              <div class="num-left">
                <div class="number-flex">
                  <div class="left-flex">
                    <div class="green-color">6000</div>
                    <div class="black-color">1000</div>
                    <div class="red-color">500</div>
                  </div>
                  <div class="right-flex">
                    <div>Total Logged in</div>
                    <div>Absent</div>
                    <div>Issue</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-flex">
      <mat-card class="mat-card">
        <mat-card-content>
          <div class="total-content">
            <div>Test Started</div>
            <div class="total-flex">
              <div class="num-left">
                <div class="mat-number">4500</div>
              </div>
              <div class="num-left">
                <div class="grid-flex">
                  <div class="number-flex">
                    <div class="left-flex">
                      <div class="green-color">3000</div>
                      <div class="black-color">1000</div>
                      <div class="red-color">500</div>
                    </div>
                    <div class="right-flex">
                      <div>Completed</div>
                      <div>Progress</div>
                      <div>Issue</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card-flex">
      <mat-card class="mat-card">
        <mat-card-content>
          <div class="total-content">
            <div>Proctor</div>
            <div class="proctor-flex">
              <div class="circle green">302</div>
              <div class="circle blue">232</div>
              <div class="circle gray">500</div>
              <div class="circle red">200</div>
            </div>
            <div class="proctor-create">
              <div>Created</div>
              <div>Started</div>
              <div>Paused</div>
              <div>Stopped</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="main-matcard">
  <mat-card class="main-card">
    <mat-card-content>
      <div class="flex-container">
        <div style="flex-grow: 1">Ongoing Client Wise Domain Wise Candidates</div>
        <div style="flex-grow: 400">
          <span class="mainapti maincolor">05</span>
        </div>
        <div><span class="black-round"></span></div>
      </div>
      <div class="table-margin">
        <div class="table-flex">
          <div class="gray-table">
            <div class="colspan">
              <div class="lnt-flex">
                <p class="cloud cloudcolor">2500</p>
                <p>LNT</p>
              </div>
              <table>
                <tr>
                  <td class="apti-width">Aptitude</td>
                  <td class="a-text">1000</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">250</div>
                      <div class="apti grayco">150</div>
                      <div class="apti greenco">100</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">Regression Testing M31</td>
                  <td class="a-text">500</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">150</div>
                      <div class="apti grayco">250</div>
                      <div class="apti greenco">100</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">Series-3</td>
                  <td class="a-text">300</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">750</div>
                      <div class="apti grayco">250</div>
                      <div class="apti greenco">200</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">Scheduled Test M31</td>
                  <td class="a-text">100</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">250</div>
                      <div class="apti grayco">200</div>
                      <div class="apti greenco">650</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">053123</td>
                  <td class="a-text">600</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">200</div>
                      <div class="apti grayco">175</div>
                      <div class="apti greenco">225</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <div class="message redborder">50</div>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="tfoot">
        <div class="footer-color">
        <div class="footer-flex">
        <div class="fi foored"></div><div class="padding-left">Not yet started</div>
        <div class="fi foogray"></div><div  class="padding-left">Inprogress</div>
        <div class="fi foogreen"></div><div  class="padding-left">Inprogress</div>
      </div>
    </div>
        <!-- <div class="tfoot">
        <div class="footer-color">
          <div class="footer-flex">
          <div class="fi-color"></div>

          </div>
          <div class="footer-flex">
          <div class="se-color"></div>
            <div class="ap-text">Inprogress</div>
        </div>
        <div class="footer-flex">
          <div class="thir-color"></div>
            <div class="ap-text">Inprogress</div>
        </div>
        </div>
      </div> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
