
.warpper {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  font-weight: 600;
  background: #f1f1f1;
  display: inline-block;
  color: #32557f;
  border-radius: 3px 3px 0px 0px;
  // box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels {
  background: #fff;
  // box-shadow: 0 2rem 2rem #00000080;
  min-height: 600px;
  width: 100%;
  // max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab {
  background: #fff;
  font-weight: 600;
  color: #32557f;
  // border-top: 3px solid #32557f;
}






.chart_card{
  background: #fff;
    box-shadow: 1px 3px 6px lightgrey;
    padding: 30px 20px;
    width: 500px;
}

.NoData{
  color: black;
}
.card_topic{
  h1{
    font-size: 25px;
    font-weight: 100;
  }
}

.main{
  display: flex;
  margin: 15px 30px 0px 15px;
  .card{
    display: flex;
    height: 150px;
    width: 25%;
    margin-left: 15px;
    box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
    cursor: pointer;

    .a{
      background-color: #b0bec5;
      padding-top: 20px;
      text-align: center;
      display:flex;
      flex-direction: column;
    }
    .num{
      padding-top: 45px;
      font-size: 25px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .card:hover {

    transition: .2s ease-in-out;
    box-shadow: 0 5px 11px 0px rgb(69 90 100 / 30%);

  }
}

.main2{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  .card2{
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px 5px 5px 5px;
    display: flex;
    height: 100px;
    width: 50%;
    box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
    .num2{
      padding-bottom: 10px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 25px;
    }
  }
  .card2:hover {
    transition: .2s ease-in-out;
    box-shadow: 0 5px 11px 0px rgb(69 90 100 / 30%);
    }

}

.head{
  margin-top: 10px;
  margin-left: 25px;
}

.main3{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  .card3{
    width: 50%;
    display: flex;
    height: 350px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
  }

  .card3:hover {
    transition: .2s ease-in-out;
    box-shadow: 0 5px 11px 0px rgb(69 90 100 / 30%);
    }
}

.main4{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  .card4{
    width: 50%;
    display: flex;
    height: 350px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
  }
  .card4:hover {
    transition: .2s ease-in-out;
    box-shadow: 0 5px 11px 0px rgb(69 90 100 / 30%);
    }
}

.main5{
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  .card5{
    width: 100%;
    display: flex;
    height: 400px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 2px 10px -1px rgb(69 90 100 / 30%);
  }
  .card5:hover {
    transition: .2s ease-in-out;
    box-shadow: 0 5px 11px 0px rgb(69 90 100 / 30%);
    }
}

.chart{
  height: 500px;
}
.ml-10{
  margin-left:10px
}
.excel{
  display: flex;

  justify-content: right;
  padding-right: 15px;
  padding-top: 10px;
}

.p-calendar-container label{
  margin-right: 10px;
}
.p-calendar-container{
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
  i{
    position: absolute;
    right: 3px;
    top: 5px;
  }
}

.mat-mdc-card{
    max-width: 200px;
    align-items: center;
}
.mat_card{
  display: flex;
  justify-content: center;
}
.mat-mdc-card-header{
  position: relative;
  margin-bottom: 10px;
}
.mat-mdc-card-header{
  justify-content: center;
}
::ng-deep.p-calendar-container .p-calendar{
  width: 256px;
}
::ng-deep.p-calendar-container .p-inputtext {

  height: 25px !important;
  font-size: 14px !important;
  padding-right: 20px;
}

::ng-deep.p-calendar-container .p-datepicker td {
  padding:0px;
  font-size: 14px !important;
}
.livebtn{
  font-size: 10px;
  padding-top: 10px;
  button{
    height: 25px;
  }
  .ic{
    font-size: 18px;
    top: 4px;
    position: relative;
  }

}
.topToolbar{
  display: flex;
  justify-content: flex-end;
  margin-bottom:10px;
  margin-right: 10px;
  width: 100%;
}
