<div class="excel">
  <div class="p-field p-calendar-container">
    <label for="range">Delivery date range:</label>

    <nz-range-picker   [nzShowTime]="{ nzFormat: 'HH:mm' }"
    nzFormat="dd-MM-yyyy HH:mm" [(ngModel)]="dtRange" (ngModelChange)="daterrange($event)"></nz-range-picker>

  </div>
</div>
<div style="display: flex; justify-content: space-evenly; padding: 3% 0">
  <app-tinycard *ngIf="utility.getUserOrg()===57"
    [wgColor]="'#00bda1'"
    [iconClass]="'icon-domain'"
    [tinycardLabel]="'Venues'"
    [tinycardCount]="venueCount.toString()"
  ></app-tinycard>
  <app-tinycard *ngIf="utility.getUserOrg()!==57"
    [wgColor]="'#00578c'"
    [iconClass]="'icon-schedule'"
    [tinycardLabel]="utility.getUserOrg()===57?'Candidates':'Scheduled'"
    [tinycardCount]="total?.Total_Count"
  ></app-tinycard>
  <app-tinycard *ngIf="utility.getUserOrg()===57"
    [wgColor]="'#00578c'"
    [iconClass]="'icon-schedule'"
    [tinycardLabel]="'Candidates'"
    [tinycardCount]="total?.Scheduled_Count"
  ></app-tinycard>
  <app-tinycard *ngIf="utility.getUserOrg()!==57"
    [wgColor]="'#00bddc'"
    [iconClass]="'icon-groups'"
    [tinycardLabel]="'Batches'"
    [tinycardCount]="domainCount"
  ></app-tinycard>
  <app-tinycard *ngIf="utility.getUserOrg()===57"
    [wgColor]="'#00bddc'"
    [iconClass]="'icon-groups'"
    [tinycardLabel]="'Schedules'"
    [tinycardCount]="batchCount"
  ></app-tinycard>
  <app-tinycard *ngIf="utility.getUserOrg()!==57"
    [wgColor]="'#00bda1'"
    [iconClass]="'icon-domain'"
    [tinycardLabel]="'Domains'"
    [tinycardCount]="domainCount"
  ></app-tinycard>
  <app-tinycard *ngIf="utility.getUserOrg()!==57"
  [wgColor]="'#70bc40'"
  [iconClass]="'icon-login-lock'"
  [tinycardLabel]="'Logged In'"
  [tinycardCount]="total?.Started"
></app-tinycard>
</div>
<div style="display: flex; justify-content: space-evenly;margin-bottom: 20px;">
  <app-tinycard *ngIf="utility.getUserOrg()!==57"
  [wgColor]="'#65ba40'"
  [iconClass]="'icon-logged_in'"
  [tinycardLabel]="'Yet To Start'"
  [tinycardCount]="total?.Yet_To_Start
  "
></app-tinycard>
  <app-tinycard
  [wgColor]="'#bc823b'"
  [iconClass]="'icon-assignment'"
  [tinycardLabel]="'Test Started'"
  [tinycardCount]="total?.Started"
></app-tinycard>
  <app-tinycard  *ngIf="utility.getUserOrg()!==57"
    [wgColor]="'red'"
    [iconClass]="'icon-edit_note'"
    [tinycardLabel]="'InProgress'"
    [tinycardCount]="total?.Inprogress"
    [tinyCountDetails]="CountDetails"
    [isDrawer]="true"
></app-tinycard>
<app-tinycard  *ngIf="utility.getUserOrg()===57"
[wgColor]="'red'"
[iconClass]="'icon-edit_note'"
[tinycardLabel]="'InProgress'"
[tinycardCount]="total?.In_Progress"
[tinyCountDetails]="CountDetails"
[isDrawer]="true"
></app-tinycard>

  <app-tinycard
    [wgColor]="'#00bd8e'"
    [iconClass]="'icon-test-completed'"
    [tinycardLabel]="'Completed'"
    [tinycardCount]="total?.Completed"
  ></app-tinycard>
</div>
<section  *ngIf="utility.getUserOrg()!==57">
<div>
  <h2 class="head">Graphical Representation</h2>
</div>
<div
  style="
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 4% 0%;
  "
>

              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="responseData > 0;else otherContent">
    <apx-chart
    #ovrAllChrt
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [colors]="chartOptions.colors"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    [xaxis]="chartOptions.xaxis"
  >
</apx-chart>
</div>
</div>


  <div class="chart_card">
    <div class="card_topic">
      <h1>Clients</h1>
    </div>

    <div *ngIf="responseData > 0;else otherContent">
    <apx-chart
      #clientwise
      [dataLabels]="chartOptions2.dataLabels"
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [labels]="chartOptions2.labels"
      [responsive]="chartOptions2.responsive"
      [legend]="chartOptions2.legend"
      [colors]="chartOptions2.colors"
    >
    </apx-chart>
  </div>
  </div>
</div>

<div
  style="
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 8% 0%;
  "
>
  <div class="chart_card">
    <div class="card_topic">
      <h1>Domain Wise</h1>
    </div>
    <div *ngIf="responseData > 0;else otherContent">
    <apx-chart
      #chart3
      [series]="chartOptions3.series"
      [chart]="chartOptions3.chart"
      [labels]="chartOptions3.labels"
      [legend]="chartOptions2.legend"
      [theme]="chartOptions3.theme"
      [colors]="chartOptions3.colors"
      [responsive]="chartOptions2.responsive"
    ></apx-chart>
  </div>
  </div>


  <div class="chart_card">
    <div class="card_topic"><h1>Client Wise Drive Wise</h1></div>
    <div *ngIf="responseData > 0;else otherContent">
    <apx-chart
      #chart5
      [series]="chartOptions5.series"
      [chart]="chartOptions5.chart"
      [labels]="chartOptions5.labels"
      [colors]="chartOptions5.colors"
      [legend]="chartOptions2.legend"
      [responsive]="chartOptions5.responsive"
    ></apx-chart>
    </div>
  </div>
</div>

<div class="main-matcard">
  <mat-card class="main-card">
    <mat-card-content>
      <div class="flex-container">
        <div style="flex-grow: 1">Ongoing Client Wise Domain Wise Candidates</div>
        <div style="flex-grow: 400">
          <span class="mainapti maincolor">05</span>
        </div>
        <div><span class="black-round"></span></div>
      </div>
      <div class="table-margin">
        <div class="table-flex">
          <div class="gray-table">
            <div class="colspan">
              <div class="lnt-flex">
                <p class="cloud cloudcolor">2500</p>
                <p>LNT</p>
              </div>
              <table>
                <tr>
                  <td class="apti-width">Aptitude</td>
                  <td class="a-text">1000</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">250</div>
                      <div class="apti grayco">150</div>
                      <div class="apti greenco">100</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">Regression Testing M31</td>
                  <td class="a-text">500</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">150</div>
                      <div class="apti grayco">250</div>
                      <div class="apti greenco">100</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">Series-3</td>
                  <td class="a-text">300</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">750</div>
                      <div class="apti grayco">250</div>
                      <div class="apti greenco">200</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">Scheduled Test M31</td>
                  <td class="a-text">100</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">250</div>
                      <div class="apti grayco">200</div>
                      <div class="apti greenco">650</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <span class="message redborder">50</span>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="apti-width">053123</td>
                  <td class="a-text">600</td>
                  <td>
                    <div class="aptitude-color">
                      <div class="apti redco">200</div>
                      <div class="apti grayco">175</div>
                      <div class="apti greenco">225</div>
                    </div>
                  </td>
                  <td>
                    <div class="border-none">
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimage.svg">
                      <div class="message redborder">50</div>
                      </div>
                      <div class="error-flex">
                      <img class="apti-image" src="assets/images/bugimageone.svg">
                      <span class="message redborder">15</span>
                    </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

<ng-template #otherContent>
  <div class="mat_card">
    <mat-card>
      <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle><span class="icon-popup-warning">  No Data Found </span> </mat-card-subtitle>
      </mat-card-header>
     </mat-card>
  </div>
</ng-template>
